#profile-nav {
  cursor: pointer;
  padding-right: 24px;
  height: 64px;
  position: relative;
  transition: 0.2s;

  &:hover {
    color: var(--bs-primary);
  }
  &.active {
    color: var(--bs-primary);
  }
  .nav-item {
    .profile-icon {
      width: 24px;
      margin-left: 16px;
    }
    i {
      color: var(--bs-primary);
      font-size: 24px;
    }
  }
}

#dropdown {
  right: 30px;
  top: 0px;
  i {
    color: var(--bs-primary);
    font-size: 18px;
    margin-right: 12px;
  }
}