<aside id="sidebar" class="bg-primary">
  <header class="bg-secondary container-fluid">
    <p>Minha Empresa</p>
  </header>
  <ul class="nav">
    <li>
      <a href="/empresa">
        <i class="fas fa-home"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="/empresa/squads">
        <i class="fas fa-users"></i> Squads
      </a>
    </li>
    <li>
      <a href="/empresa/clientes">
        <i class="fas fa-handshake"></i> Clientes
      </a>
    </li>
    <li>
      <a href="/empresa/funcionarios">
        <i class="fas fa-building"></i> Funcionários
      </a>
    </li>
    <li>
      <a href="/empresa/projetos">
        <i class="fas fa-project-diagram"></i> Projetos
      </a>
    </li>
  </ul>
</aside>
