<aside id="sidebar" class="bg-primary">
  <header class="bg-primary container-fluid">
    <p><%- profile.name %> </p>
  </header>
  <ul class="nav">
    <% if (company) { %> 
      <li>
        <a href="/empresa">
          <div class="icon-wrapper"><i class="fas fa-home"></i></div>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/empresa/squads">
          <div class="icon-wrapper"><i class="fas fa-users"></i></div>
          Squads
        </a>
      </li>
      <li>
        <a href="/empresa/funcionarios">
          <div class="icon-wrapper"><i class="fas fa-building"></i> </div>
          Funcionários
        </a>
      </li>
      <li>
        <a href="/empresa/projetos">
          <div class="icon-wrapper"><i class="fas fa-project-diagram"></i></div>
          Projetos
        </a>
      </li>
    <% } %> 
  </ul>
</aside>
