<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/498969099a.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/public/styles/global.css">
  <link rel="stylesheet" href="/public/styles/custom.css">
  <link rel="stylesheet" href="/public/styles/pages/company/customers/style.css">
  <link rel="stylesheet" href="/public/styles/partials/header/style.css">
  <link rel="stylesheet" href="/public/styles/partials/sideBar/style.css">
  <title>Empresa - Clientes</title>
</head>
<body>
  <div id="viewport">
    <%- include('../../../partials/sideBar/index.ejs') %> 
    <div id="content">
      <%- include('../../../partials/header/index.ejs') %> 
    </div>
  </div>
</body>
</html>