<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>NAO PENSAMOS NO NOME</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/styles/global.css">
  <link rel="stylesheet" href="/public/styles/custom.css">
  <link rel="stylesheet" href="/public/styles/pages/company/login/style.css">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="/public/assets/logo.svg" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Entrar como funcionário</h1>
            <form action="#!">
              <div class="form-group">
                <label for="username">Nome de usuário</label>
                <input type="username" name="username" id="username" class="form-control" placeholder="Insira o seu nome de usuário">
              </div>
              <div class="form-group mb-4">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Insira a senha">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="button" value="Entrar">
            </form>
            <a href="#!" class="forgot-password-link">Esqueci a senha</a>
            <p class="login-wrapper-footer-text">Deseja entrar como empresa? <a href="/empresa/entrar" class="text-reset">Clique aqui</a></p>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
