.container-fluid {
  max-width: 800px;
}

.brand-wrapper {
  padding-top: 7px;
  padding-bottom: 8px;
  width: 100%;

  .logo {
    height: 25px;
  }

}

.row {
  @media (max-width: 991px) {
    flex-direction: column;
  }
  & > div {
    flex: 1;
  }
}

.login {
  &-section-wrapper {
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 70px;
    background-color: #fff;
    @media (max-width: 991px) {
      padding-left: 50px;
      padding-right: 50px;
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 100vh;
      width: 100%;
    }
  }

  &-wrapper {
    padding-top: 24px;
    padding-bottom: 24px;
    width: 100%;

    @media (max-width: 991px) {
      margin: 0 auto;
    }

    label {
      font-size: 14px;
      font-weight: bold;
      color: #b0adad;
    }

    .form-control {
      border: none;
      border-bottom: 1px solid #e7e7e7;
      border-radius: 0;
      padding: 9px 5px;
      min-height: 40px;
      font-size: 18px;
      font-weight: normal;
      &::placeholder {
        color: #b0adad;
      }
    }

    .login-btn {
      padding: 13px 20px;
      background-color: var(--bs-primary);
      border-radius: 0;
      font-size: 20px;
      font-weight: bold;
      width: 100%;
      color: #fff;
      margin-bottom: 14px;
      &:hover {
        border: 1px solid var(--bs-primary);
        background-color: #fff;
        color: var(--bs-primary);
      }
    }

    a.forgot-password-link {
      color: #080808;
      font-size: 14px;
      text-decoration: underline;
      display: inline-block;
      margin-bottom: 40px;
      @media (max-width: 575px) {
        margin-bottom: 16px;
      }
    }

    &-footer-text {
      font-size: 16px;
      color: #000;
      margin-bottom: 0;
    }
  }

  &-title {
    font-size: 30px;
    color: #000;
    font-weight: bold;
    margin-bottom: 25px;
  }

  &-separator {
    position: relative;
    display: flex;
    align-items: center;
    margin: 24px 0;
    &:before {
      content: '';
      height: 1px;
      flex: 1;
      margin-right: 16px;
      background-color: #212529;
    }
  
    &:after {
      content: '';
      flex: 1;
      height: 1px;
      margin-left: 16px;
      background-color: #212529;
    }
  }
}