#viewport {
  padding-left: 250px;
}

.table {
  &-top {
    align-items: center;
    justify-content: space-between;
    a {
      text-decoration: none;
      height: min-content;
      padding: 8px 24px;
      background-color: var(--bs-secondary);
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      border-radius: 4px;
      transition: 0.2s;
      &:hover {
        filter: brightness(0.8);
      }
    }
  }
  thead {
    background-color: var(--bs-primary);
    color: white;
  }
  tr {
    cursor: pointer;
  }
}