#viewport {
  padding-left: 250px;
}

.wrapper {
  padding: 24px;
}

.table-top {
  align-items: center;
  justify-content: space-between;
}
.table-top a {
  text-decoration: none;
  height: min-content;
  padding: 8px 24px;
  background-color: var(--bs-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 4px;
  transition: 0.2s;
}
.table-top a:hover {
  filter: brightness(0.8);
}
.table thead {
  background-color: var(--bs-primary);
  color: white;
}