#profile-nav {
  cursor: pointer;
  padding-right: 24px;
  height: 64px;
  position: relative;
  transition: 0.2s;
}
#profile-nav:hover {
  color: var(--bs-primary);
}
#profile-nav.active {
  color: var(--bs-primary);
}
#profile-nav .nav-item .profile-icon {
  width: 24px;
  margin-left: 16px;
}
#profile-nav .nav-item i {
  color: var(--bs-primary);
  font-size: 24px;
}

#dropdown {
  right: 30px;
  top: 0px;
}
#dropdown i {
  color: var(--bs-primary);
  font-size: 18px;
  margin-right: 12px;
}