<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Registrar empresa</title>
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/public/styles/css/global.css">
  <link rel="stylesheet" href="/public/styles/css/custom.css">
  <link rel="stylesheet" href="/public/styles/css/pages/company/register.css">
</head>
<body>
  <main>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6 login-section-wrapper">
          <div class="brand-wrapper">
            <img src="/public/assets/logo.svg" alt="logo" class="logo">
          </div>
          <div class="login-wrapper my-auto">
            <h1 class="login-title">Registrar empresa</h1>
            <form method="post" action="/empresa/registrar">
              <div class="form-group">
                <label for="name">Nome da empresa</label>
                <input type="name" name="name" id="name" class="form-control" placeholder="Minha Empresa">
              </div>
              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="minhaempresa@empresa.com">
              </div>
              <div class="form-group">
                <label for="cnpj">CNPJ (sem pontuação)</label>
                <input type="cnpj" name="cnpj" id="cnpj" class="form-control" placeholder="63025530000104">
              </div>
              <div class="form-group">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="**********">
              </div>
              <div class="form-group mb-4">
                <label for="confirm_password">Repetir senha</label>
                <input type="password" name="confirm_password" id="confirm_password" class="form-control" placeholder="**********">
              </div>
              <input name="login" id="login" class="btn btn-block login-btn" type="submit" value="Registrar">
            </form>
            <p class="login-wrapper-footer-text mb-5">Empresa já registrada? <a href="/" class="text-reset">Clique aqui</a></p>
            <% if (typeof errors != 'undefined') { %>
              <div class="alert alert-danger" role="alert">
                <ul>
                  <% errors.forEach((error) => { %>
                    <li><%= error.message %></li>
                  <% }) %>
                </ul>
              </div>
            <% } %> 
          </div>
        </div>
      </div>
    </div>
    <script src="/public/scripts/dropdown.js"></script>
  </main>
</body>
</html>
